/* You can add global styles to this file, and also import other style files */

.mybtn {
  background: #9400D3;
  color: #fff;
  border-radius: 3px;
  padding:5px 20px;
  border: none;
  font-size: 14px;
}

.mybtn2 {
  background: #9400D3;
  color: #fff;
  border-radius: 3px;
  padding:5px 20px;
  border: none;
  font-size: 14px;
}

.mybtn3 {
  background: #DC143C;
  color: #fff;
  border-radius: 3px;
  padding:5px 20px;
  border: none;
  font-size: 14px;
}

#psize {
  padding: 2px;
  border-radius: 3px;
}
